﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="tj1.aspx.cs" Inherits="tj1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>无标题页</title>
<base target="_self" />
           <link href="../../CSS/style.css" type="text/css" rel="Stylesheet" />
  　　

    <script type="text/javascript" src="../../js/jquery-1.3.1.min.js"></script>

    <script type="text/javascript" src="../../js/mainScript.js">

    </script>

    <link href="../../css/style1.css" type="text/css" rel="Stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
        <input id="value1" type="hidden"  runat="server"  />
        <input id="text1" type="hidden"   runat="server" />
 
 <table  width ="100%">
<tr>
<td style ="vertical-align: top">
  <div style ="  height :300px;overflow:auto; width :100%">  
         <div id="divxm"> 
           <asp:TreeView runat="server" ID="tree"  >
           </asp:TreeView>
         </div>
         </div> 
        </td>
   </tr> 
     <tr>
     <td style=" padding-left :10px">
        <table  width ="100%">
        <tr>
        <td  style =" text-align :center ">  <asp:Button ID="Button1" runat="server" Text="确定" OnClick="Button1_Click1" 　class="button"/>   </td>
        <td  style =" text-align :center "> 
            <input id="Button2" type="button" value="取消" 　 onclick ="tc()" class ="button"  />
           </td>
        <td>   <input id="hid" type="hidden"  runat ="server" /> </td>
        </tr>
        </table>
      </td>
    </tr>
</table>  
    </form>
    <script type="text/javascript">
　  　function tc()
　  　{
　　   window.close();
　　  }
　　　function ontreeselectxm(id,mc)
      {
        objs = document.getElementById("divxm").getElementsByTagName("a");
        for(var i=0;i<objs.length;i++)
        {
            if(objs[i].href=="javascript:ontreeselectxm('"+id+"','"+mc+"');")
                objs[i].style.fontWeight="bold"; 
            else
                objs[i].style.fontWeight=""; 
        }
        $("#value1").val(id);
        $("#<%=value1.ClientID %>").val(id);
        $("#<%=text1.ClientID %>").val(mc); 
     }
    </script>
</body>
</html>
