﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DCLRW.aspx.cs" Inherits="SYS_DCLRW" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server" class="easyui-layout" style="width: 98%; height: 95%;">>
    <div>
    
    </div>
    </form>
</body>
</html>
